.form{
   font-family:monospace;
   max-width: 400px;
   min-width: 200px;
   max-height: 600px;
   margin: 0 auto;
   border: black solid 3px;
   border-radius: 14px;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.Mheader{
   width: 100%;
   display: flex;
   align-items: center;
   border-bottom: black 2px solid;
}

.Mheader h3{
   font-family:monospace;
   margin: 0 auto;
}

.Mheader a{
   display: flex;
   margin: 5px;
}
.Mheader img{      
   height: 2vh;
   display: flex;
}
.itemForm{
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   width: 42%;
   height: 25%;
   margin: 0 auto;
   padding-bottom: 10px;
   }
.itemForm label{
   padding-top: 20px;
   padding-bottom: 5px;
   font-size: 16px;
   font-family:monospace;
   
}
.itemForm input{
   border-radius: 8px;
   background-color: rgba(170, 170, 170, 0.397);
}
.itemForm button{
   margin-top: 25px;
   background-color:rgb(158, 127, 87);
   padding: 6px 20px;
   border-radius: 15px;        
}
#divFinal{
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   height: 25%;
   text-align: center;
   width: 100%;
}
#divFinal label{
 padding-bottom: 6px
}

#linkCriar{
   box-sizing: border-box;
   text-decoration: none;
   width: 60%;
   display: flex;
   justify-content: center;
}

#btnCriar{
   width: 100%;
   padding: 2px;
   margin-bottom: 5px;
   cursor: pointer;
   color: white;
   border-radius: 12px;
   background-color: rgb(34, 62, 85);
   font-size: 18px;
}

#btnCriar:hover{
   background-color: lightblue;
   color: black;
}


