/*----------------------LOGIN------------------------------*/
*{
        
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
}

.navbar{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 7vh;
   background-color:rgb(201, 174, 124);
   position: fixed;
   border-bottom: slategray 4px solid;
   
   
}

.corpo{
display: flex;
padding: 20vh 10vw;
background-color: antiquewhite;


}

.boxLogin{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: gainsboro;
border: rgb(104, 102, 102) solid 3px;
border-radius: 22px;
height: 60vh;
width: 40vw;
}

.boxCadastro{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: gainsboro;
border: rgb(104, 102, 102) solid 3px;
border-radius: 22px;
height: 60vh;
width: 40vw;
margin-left: 4vw;
}


.bl-div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   height: 25%;
}

.bl-div h3{
   margin-top: 7%;
}

.bl-div input{
   width: 35%;
}

#btnEntrar{
     font-size: 18px;
}

.bc-div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   height: 20%;
}

.bc-div h3{
   margin-top: 7%;
}

.bc-div input{
   width: 35%;
}

#btnCriar{
   font-size: 18px;
}